.board-page {
  padding-top: 10px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.board-page h2 {
  padding-left: 15px;
}

.lists {
  display: flex;
  padding-top: 15px;
  flex: 1 1 0%;
  overflow: auto;
  white-space: nowrap;
}

.lists-items {
  display: flex;
  padding-right: 160px;
}
