.card {
  display: flex;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.text {
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text input {
  margin: -1px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: 1px solid #d7d7f0;
}

.text-body {
  display: flex;
  width: 100%;
}

.text-inner:not(.active):hover:before {
  content: ' ';
  position: absolute;
  right: 0;
  background-image: url('../../assets/svg/EditIcon.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.text-inner {
  position: relative;
  width: 100%;
}

.delete-list--button {
  position: relative;
  padding: 0px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.delete-list--icon .delete-list--button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
}
