.card {
  display: flex;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.add-card-item {
  margin: 14px -20px -14px;
}

.add-card-item input {
  height: 40px;
  width: 100%;
  border: 1px solid #7A8194;
  padding-left: 15px;
  color: #7A8194;
}

.add-card-item button {
  cursor: pointer;
  color: #7A8194;
  text-align: left;
  border: 0;
  background-color: #e0e0f0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.add-card-item button:hover {
  background-color: #d7d7f0;
}

.add-card--icon {
  padding-left: 20px;
  padding-right: 10px;
}